<div class="formgrid grid">
    <p-table #dt [value]="clients"  [rows]="10" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
            <tr>
                <td>{{ client.code }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.category }}</td>
                <td>{{ client.quantity }}</td>
                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="onEdit(client)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(client)"></button>
                    </div>
                </td>
            </tr>

        </ng-template>
    </p-table>
</div>